.header{
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__navigation{
        display: flex;
        align-items: center;
    }
    
    
    &__logo--right {
        margin-right: 85px;
    }
    
    
    &__site-nav &__item {
        margin-right: 50px;
        position: relative;
    }
    
    &__site-nav &__item:last-child{
        margin-right: 0px;
    }
    
    .link.active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0px;
        display: block;
        background-color:$active-color;
        border-radius: 2px;
    }
    
    &__site-nav .link {
        display: block;
        color: $secondary-color;  
        letter-spacing: 0.02em;
        transition: color 250ms $main-animation;
    }
    
    &__site-nav .active {
        color: $active-color;
    }
    
    
    .link:hover,
    .link:focus {
        color: $active-color;
    }
    
    .link {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    
    &__contacts &__item {
        margin-right: 30px;
    }
    
    &__contacts &__item:last-child{
        margin-right: 0px;
    }
    
    &__contacts .link {   
        color: $primary-color;
        text-decoration: none;
        letter-spacing: 0.02em;
        transition: color 250ms $main-animation;
    }
    
    &__icon{
        margin-right: 10px;
        fill: currentColor;
    }
    
}