$primary-color: #757575;

$hero-color: #ffffff;

$secondary-color: #212121;

$active-color: #2196F3;

$section-color: #F5F4FA;

$footer-color: #2F303A;

$footer-address-color: rgba(255, 255, 255, 0.6);

$icon-color: #AFB1B8;

$main-animation: cubic-bezier(0.4, 0, 0.2, 1);